app/templates/dialog.pug
extends layouts/default

block variables
  - var title = 'Сообщения'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges.-active
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-featured
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .messanges
              .messanges__header
                .messanges__title
                  h2 Сообщения
              .messanges__content
                .dialog
                  ul.dialog__list
                    li.dialog__item.-online
                      .dialog__avatar
                          img(src="images/avatar.jpg" alt="")
                      .dialog__message
                        .dialog__name Федор Кулешов
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar2.jpg" alt="")
                      .dialog__message
                        .dialog__name Программист Кодеров
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar.jpg" alt="")
                      .dialog__message
                        .dialog__name Федор Кулешов
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar2.jpg" alt="")
                      .dialog__message
                        .dialog__name Программист Кодеров
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar.jpg" alt="")
                      .dialog__message
                        .dialog__name Федор Кулешов
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43

                  form.dialog__form
                    .dialog__form_field
                      .dialog__form_placeholder Напишите сообщение...
                      .dialog__form_editable(contenteditable="true")
                    .dialog__form_buttons
                      button.dialog__send(type="button")
                      button.dialog__photo(type="button")
                      button.dialog__file(type="button")

dist/dialog.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Сообщения</title>
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="inner-page"><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__left">
            <div class="header__logo"><a class="header__logo_link" href="#"><img src="images/logo.png" alt="Hires agency POND5"></a></div>
            <div class="header__tel"><a class="header__tel_num" href="tel:+74957661789">+7 (495) 766-17-89</a></div>
            <div class="header__hidden">
              <form class="search">
                <input class="search__input" type="search" name="search" placeholder="Введите Ваш запрос"><a class="search__img" href="#"></a>
                <select class="search__select" name="search-select">
                  <option value="">По изображениям</option>
                  <option value="">По видео</option>
                  <option value="">По спецэффектам</option>
                  <option value="">По музыке</option>
                  <option value="">По автору</option>
                </select>
                <!--.search__select
                input(type="hidden" value="" name="search-selected")
                a.search__selected(href="#") Все изображения
                .search__dropdown
                  a.search__dropdown_item(href="#") По изображениям
                  a.search__dropdown_item(href="#") По видео
                  a.search__dropdown_item(href="#") По спецэффектам
                  a.search__dropdown_item(href="#") По музыке
                  a.search__dropdown_item(href="#") По автору
                -->
                <button class="search__btn" type="button"></button>
              </form>
              <div class="header__nav"><a class="header__nav_link" href="#" style="background-image: url(images/icons/video.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/visual.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/camera.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/music.png)"></a></div>
            </div>
          </div>
          <div class="header__right">
            <div class="header__right_wrap">
              <div class="header__lang">
                <div class="lang"><a class="lang__link -active" href="#">РУС</a><a class="lang__link" href="#">ENG</a></div>
              </div>
              <div class="header__login"><a class="header__login_link" href="#">Регистрация</a><a class="header__login_link" href="#">Войти</a></div>
              <div class="header__menu">
                <nav class="header__menu_dropdown">
                  <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="#">Предлагаемые планы подписки</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Пополнить баланс</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Наши контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div><a class="header__toggle" id="toggle-menu" href="#"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3">
            <div class="main__sidebar">
              <div class="sidebar"><a class="sidebar__open" href="#"><span class="sidebar__open_btn"><span></span></span><span class="sidebar__open_text">Меню</span></a>
                <div class="sidebar__wrap"><a class="sidebar__close" href="#"></a>
                  <ul class="sidebar__list">
                    <li class="sidebar__item -account"><a class="sidebar__link" href="#">Мой аккаунт</a></li>
                    <li class="sidebar__item -news"><a class="sidebar__link" href="#">Новости</a></li>
                    <li class="sidebar__item -messanges -active"><a class="sidebar__link" href="#">Сообщения</a></li>
                    <li class="sidebar__item -friends"><a class="sidebar__link" href="#">Друзья</a></li>
                    <li class="sidebar__item -subscribes"><a class="sidebar__link" href="#">Подписки</a></li>
                    <li class="sidebar__item -featured"><a class="sidebar__link" href="#">Избранные</a></li>
                    <li class="sidebar__item -lightbox"><a class="sidebar__link" href="#">ЛайтБоксы</a></li>
                    <li class="sidebar__item -settings"><a class="sidebar__link" href="#">Настройки</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-9">
            <div class="main__content">
              <div class="messanges">
                <div class="messanges__header">
                  <div class="messanges__title">
                    <h2>Сообщения</h2>
                  </div>
                </div>
                <div class="messanges__content">
                  <div class="dialog">
                    <ul class="dialog__list">
                      <li class="dialog__item -online">
                        <div class="dialog__avatar"><img src="images/avatar.jpg" alt=""></div>
                        <div class="dialog__message">
                          <div class="dialog__name">Федор Кулешов</div>
                          <div class="dialog__text">
                            <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                          </div>
                          <div class="dialog__date">11:43</div>
                        </div>
                      </li>
                      <li class="dialog__item -online">
                        <div class="dialog__avatar"><img src="images/avatar2.jpg" alt=""></div>
                        <div class="dialog__message">
                          <div class="dialog__name">Программист Кодеров</div>
                          <div class="dialog__text">
                            <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                          </div>
                          <div class="dialog__date">11:43</div>
                        </div>
                      </li>
                      <li class="dialog__item -online">
                        <div class="dialog__avatar"><img src="images/avatar.jpg" alt=""></div>
                        <div class="dialog__message">
                          <div class="dialog__name">Федор Кулешов</div>
                          <div class="dialog__text">
                            <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                          </div>
                          <div class="dialog__date">11:43</div>
                        </div>
                      </li>
                      <li class="dialog__item -online">
                        <div class="dialog__avatar"><img src="images/avatar2.jpg" alt=""></div>
                        <div class="dialog__message">
                          <div class="dialog__name">Программист Кодеров</div>
                          <div class="dialog__text">
                            <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                          </div>
                          <div class="dialog__date">11:43</div>
                        </div>
                      </li>
                      <li class="dialog__item -online">
                        <div class="dialog__avatar"><img src="images/avatar.jpg" alt=""></div>
                        <div class="dialog__message">
                          <div class="dialog__name">Федор Кулешов</div>
                          <div class="dialog__text">
                            <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                          </div>
                          <div class="dialog__date">11:43</div>
                        </div>
                      </li>
                    </ul>
                    <form class="dialog__form">
                      <div class="dialog__form_field">
                        <div class="dialog__form_placeholder">Напишите сообщение...</div>
                        <div class="dialog__form_editable" contenteditable="true"></div>
                      </div>
                      <div class="dialog__form_buttons">
                        <button class="dialog__send" type="button"></button>
                        <button class="dialog__photo" type="button"></button>
                        <button class="dialog__file" type="button"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrap">
          <div class="footer__left">
            <div class="footer__logo"><a href="/"><img src="images/logo2.png" alt=""></a></div>
            <ul class="footer__info">
              <li class="footer__info_item"><span class="footer__address" style="background-image: url(images/icons/location-gray.png)">Москва, ул. Коасноперова, д.12</span></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__fb" href="https://facebook.com" style="background-image: url(images/icons/facebook-gray.png)">Facebook</a></li>
              <li class="footer__info_item"><a class="footer__inst" href="https://instagram.com" style="background-image: url(images/icons/instagram-gray.png)">Instagram</a></li>
            </ul>
          </div>
          <div class="footer__right">
            <div class="footer__menu">
              <div class="footer__menu_heading">Меню</div>
              <div class="footer__menu_wrap">
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copyright">© Hires and Pond5, Inc., 2019</div>
      </div>
    </footer>
  </body>
  <script src="scripts/jquery.js"></script>
  <script src="scripts/slick.js"></script>
  <script src="scripts/jquery.selectric.js"></script>
  <script src="scripts/main.js"></script>
</html>
