dist/home.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Главная страница</title>
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="home-page"><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__left">
            <div class="header__logo"><a class="header__logo_link" href="#"><img src="images/logo.png" alt="Hires agency POND5"></a></div>
            <div class="header__tel"><a class="header__tel_num" href="tel:+74957661789">+7 (495) 766-17-89</a></div>
            <div class="header__hidden">
              <form class="search">
                <input class="search__input" type="search" name="search" placeholder="Введите Ваш запрос"><a class="search__img" href="#"></a>
                <select class="search__select" name="search-select">
                  <option value="">По изображениям</option>
                  <option value="">По видео</option>
                  <option value="">По спецэффектам</option>
                  <option value="">По музыке</option>
                  <option value="">По автору</option>
                </select>
                <!--.search__select
                input(type="hidden" value="" name="search-selected")
                a.search__selected(href="#") Все изображения
                .search__dropdown
                  a.search__dropdown_item(href="#") По изображениям
                  a.search__dropdown_item(href="#") По видео
                  a.search__dropdown_item(href="#") По спецэффектам
                  a.search__dropdown_item(href="#") По музыке
                  a.search__dropdown_item(href="#") По автору
                -->
                <button class="search__btn" type="button"></button>
              </form>
              <div class="header__nav"><a class="header__nav_link" href="#" style="background-image: url(images/icons/video.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/visual.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/camera.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/music.png)"></a></div>
            </div>
          </div>
          <div class="header__right">
            <div class="header__right_wrap">
              <div class="header__lang">
                <div class="lang"><a class="lang__link -active" href="#">РУС</a><a class="lang__link" href="#">ENG</a></div>
              </div>
              <div class="header__login"><a class="header__login_link" href="#">Регистрация</a><a class="header__login_link" href="#">Войти</a></div>
              <div class="header__menu">
                <nav class="header__menu_dropdown">
                  <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="#">Предлагаемые планы подписки</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Пополнить баланс</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Наши контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div><a class="header__toggle" id="toggle-menu" href="#"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="mainscreen">
        <div class="mainscreen__fullscreen">
          <video class="mainscreen__fullscreen_video" loop muted autoplay poster="images/video/fullscreen/balloons.jpg">
            <source src="images/video/fullscreen/balloons.mp4" type="video/mp4">
            <source src="images/video/fullscreen/balloons.webm" type="video/webm">
          </video>
        </div>
        <div class="mainscreen__wrap">
          <div class="container">
            <div class="mainscreen__inner">
              <div class="mainscreen__content">
                <div class="mainscreen__offer">
                  <h1>Эксклюзивный<br>материал</h1>
                  <p>Огромный выбор вдохновляющих ресурсов</p>
                </div>
                <div class="mainscreen__search">
                  <form class="search">
                    <input class="search__input" type="search" name="search"><a class="search__img" href="#"></a>
                    <select class="search__select" name="search-select">
                      <option value="">По изображениям</option>
                      <option value="">По видео</option>
                      <option value="">По спецэффектам</option>
                      <option value="">По музыке</option>
                      <option value="">По автору</option>
                    </select>
                    <!--.search__select
                    input(type="hidden" value="" name="search-selected")
                    a.search__selected(href="#") Все изображения
                    .search__dropdown
                      a.search__dropdown_item(href="#") По изображениям
                      a.search__dropdown_item(href="#") По видео
                      a.search__dropdown_item(href="#") По спецэффектам
                      a.search__dropdown_item(href="#") По музыке
                      a.search__dropdown_item(href="#") По автору
                    -->
                    <button class="search__btn" type="button"></button>
                  </form>
                </div>
              </div>
              <div class="mainscreen__nav">
                <ul class="nav">
                  <li class="nav__item"><a class="nav__link" href="#"><span class="nav__text">Видео</span><img class="nav__icon" src="images/icons/video.png" alt=""></a></li>
                  <li class="nav__item"><a class="nav__link" href="#"><span class="nav__text">Изображения</span><img class="nav__icon" src="images/icons/camera.png" alt=""></a></li>
                  <li class="nav__item"><a class="nav__link" href="#"><span class="nav__text">Музыка</span><img class="nav__icon" src="images/icons/music.png" alt=""></a></li>
                  <li class="nav__item"><a class="nav__link" href="#"><span class="nav__text">Спецэффекты</span><img class="nav__icon" src="images/icons/visual.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <div class="container">
          <div class="media__heading">
            <h2>Медиа, которые мы предлагаем</h2>
          </div>
          <div class="media__wrap">
            <div class="media__item">
              <div class="media__inner"><a class="media__img" href="#"><img src="images/media/1.jpg" alt=""></a>
                <div class="media__content">
                  <h3>Стоковые видеоматериалы роялти-фри</h3>
                  <p>Откройте для себя мир самой большой коллекции видеосъемок, включающей в себя боле 17 млн. клипов в качестве 4K и HD, а также видео в 360° без роялти.</p>
                </div>
              </div>
            </div>
            <div class="media__item">
              <div class="media__inner"><a class="media__img" href="#"><img src="images/media/2.jpg" alt=""></a>
                <div class="media__content">
                  <h3>Музыкальные треки</h3>
                  <p>Прослушайте более 900 000 записей — от саундтреков к фильмам до поп-музыки.</p>
                </div>
              </div>
            </div>
            <div class="media__item">
              <div class="media__inner"><a class="media__img" href="#"><img src="images/media/3.jpg" alt=""></a>
                <div class="media__content">
                  <h3>Шаблоны спецэффектов</h3>
                  <p>Воспользуйтесь набором полезных образцов After Effects, включая инфографику, трейлеры и многое другое.</p>
                </div>
              </div>
            </div>
            <div class="media__item">
              <div class="media__inner"><a class="media__img" href="#"><img src="images/media/4.jpg" alt=""></a>
                <div class="media__content">
                  <h3>Стоковые изображения</h3>
                  <p>Вас ждет премиум-библиотека из 26 миллионов роялти-фри фотографий, векторных иллюстраций, изображений и PSD.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="container">
          <div class="slider__heading">
            <h2>Подборка новогодних видео</h2>
          </div>
          <div class="slider__wrap" id="slider-video">
            <div class="slider__slide">
              <div class="slider__inner">
                <div class="slider__small">
                  <div class="slider__item"><a class="slider__img" href="#"><img src="images/slider/1.jpg" alt=""></a></div>
                  <div class="slider__item"><a class="slider__img" href="#"><img src="images/slider/2.jpg" alt=""></a></div>
                </div>
                <div class="slider__big">
                  <div class="slider__item"><a class="slider__img" href="#"><img src="images/slider/3.jpg" alt=""></a></div>
                </div>
              </div>
            </div>
            <div class="slider__slide">
              <div class="slider__inner">
                <div class="slider__small">
                  <div class="slider__item"><a class="slider__img" href="#"><img src="images/slider/1.jpg" alt=""></a></div>
                  <div class="slider__item"><a class="slider__img" href="#"><img src="images/slider/2.jpg" alt=""></a></div>
                </div>
                <div class="slider__big">
                  <div class="slider__item"><a class="slider__img" href="#"><img src="images/slider/3.jpg" alt=""></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkin">
        <div class="checkin__fullscreen">
          <video class="mainscreen__fullscreen_video" loop muted autoplay poster="images/video/checkin/checkin.jpg">
            <source src="images/video/checkin/checkin.mp4" type="video/mp4">
            <source src="images/video/checkin/checkin.webm" type="video/webm">
          </video>
        </div>
        <div class="checkin__wrap">
          <div class="container">
            <div class="checkin__inner">
              <div class="checkin__content">
                <div class="checkin__heading">Создайте свой аккаунт на <a href="Hires.ru" target="_blank">Hires.ru</a> и&nbsp;получите полный доступ к&nbsp;безграничному контенту</div>
              </div>
              <div class="checkin__form">
                <h2>Регистрация</h2>
                <form class="form">
                  <div class="form__field">
                    <input type="text" name="name" placeholder="Введите Ваше имя" required>
                  </div>
                  <div class="form__field">
                    <input type="text" name="name" placeholder="Введите Ваш E-mail" required>
                  </div>
                  <div class="form__field">
                    <input type="text" name="name" placeholder="Введите Ваш пароль" required>
                  </div>
                  <div class="form__button">
                    <button type="submit">Зарегистрироваться</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popular">
        <div class="container">
          <div class="popular__heading">
            <h2>Самые популярные категории</h2>
          </div>
          <div class="popular__wrap">
            <div class="popular__column">
              <div class="popular__title">Категория</div>
              <ul class="popular__list">
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
              </ul>
            </div>
            <div class="popular__column">
              <div class="popular__title">Категория</div>
              <ul class="popular__list">
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
              </ul>
            </div>
            <div class="popular__column">
              <div class="popular__title">Категория</div>
              <ul class="popular__list">
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
              </ul>
            </div>
            <div class="popular__column">
              <div class="popular__title">Категория</div>
              <ul class="popular__list">
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
              </ul>
            </div>
            <div class="popular__column">
              <div class="popular__title">Категория</div>
              <ul class="popular__list">
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
                <li class="popular__item"><a class="popular__link" href="#">Подкатегория</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrap">
          <div class="footer__left">
            <div class="footer__logo"><a href="/"><img src="images/logo2.png" alt=""></a></div>
            <ul class="footer__info">
              <li class="footer__info_item"><span class="footer__address" style="background-image: url(images/icons/location-gray.png)">Москва, ул. Коасноперова, д.12</span></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__fb" href="https://facebook.com" style="background-image: url(images/icons/facebook-gray.png)">Facebook</a></li>
              <li class="footer__info_item"><a class="footer__inst" href="https://instagram.com" style="background-image: url(images/icons/instagram-gray.png)">Instagram</a></li>
            </ul>
          </div>
          <div class="footer__right">
            <div class="footer__menu">
              <div class="footer__menu_heading">Меню</div>
              <div class="footer__menu_wrap">
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copyright">© Hires and Pond5, Inc., 2019</div>
      </div>
    </footer>
  </body>
  <script src="scripts/jquery.js"></script>
  <script src="scripts/slick.js"></script>
  <script src="scripts/jquery.selectric.js"></script>
  <script src="scripts/main.js"></script>
</html>

app/templates/home.pug
extends layouts/default

block variables
  - var title = 'Главная страница'
  - var homePage = true

block content
  main.main
    .mainscreen
      .mainscreen__fullscreen
        video(loop muted autoplay poster="images/video/fullscreen/balloons.jpg" class="mainscreen__fullscreen_video")
          source(src="images/video/fullscreen/balloons.mp4" type="video/mp4")
          source(src="images/video/fullscreen/balloons.webm" type="video/webm")
      .mainscreen__wrap
        .container
          .mainscreen__inner
            .mainscreen__content
              .mainscreen__offer
                h1 Эксклюзивный<br>материал
                p Огромный выбор вдохновляющих ресурсов
              .mainscreen__search
                form.search
                  input.search__input(type="search" name="search")
                  a.search__img(href="#")
                  select.search__select(name="search-select")
                    option(value="") По изображениям
                    option(value="") По видео
                    option(value="") По спецэффектам
                    option(value="") По музыке
                    option(value="") По автору
                  //.search__select
                    input(type="hidden" value="" name="search-selected")
                    a.search__selected(href="#") Все изображения
                    .search__dropdown
                      a.search__dropdown_item(href="#") По изображениям
                      a.search__dropdown_item(href="#") По видео
                      a.search__dropdown_item(href="#") По спецэффектам
                      a.search__dropdown_item(href="#") По музыке
                      a.search__dropdown_item(href="#") По автору
                  button.search__btn(type="button")
            .mainscreen__nav
              ul.nav
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Видео
                    img.nav__icon(src="images/icons/video.png" alt="")
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Изображения
                    img.nav__icon(src="images/icons/camera.png" alt="")
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Музыка
                    img.nav__icon(src="images/icons/music.png" alt="")
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Спецэффекты
                    img.nav__icon(src="images/icons/visual.png" alt="")
    .media
      .container
        .media__heading
          h2 Медиа, которые мы предлагаем
        .media__wrap
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/1.jpg" alt="")
              .media__content
                h3 Стоковые видеоматериалы роялти-фри
                p Откройте для себя мир самой большой коллекции видеосъемок, включающей в себя боле 17 млн. клипов в качестве 4K и HD, а также видео в 360° без роялти.
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/2.jpg" alt="")
              .media__content
                h3 Музыкальные треки
                p Прослушайте более 900 000 записей — от саундтреков к фильмам до поп-музыки.
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/3.jpg" alt="")
              .media__content
                h3 Шаблоны спецэффектов
                p Воспользуйтесь набором полезных образцов After Effects, включая инфографику, трейлеры и многое другое.
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/4.jpg" alt="")
              .media__content
                h3 Стоковые изображения
                p Вас ждет премиум-библиотека из 26 миллионов роялти-фри фотографий, векторных иллюстраций, изображений и PSD.
    .slider
      .container
        .slider__heading
          h2 Подборка новогодних видео
        .slider__wrap#slider-video
          .slider__slide
            .slider__inner
              .slider__small
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/1.jpg" alt="")
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/2.jpg" alt="")
              .slider__big
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/3.jpg" alt="")
          .slider__slide
            .slider__inner
              .slider__small
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/1.jpg" alt="")
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/2.jpg" alt="")
              .slider__big
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/3.jpg" alt="")
    .checkin
      .checkin__fullscreen
        video(loop muted autoplay poster="images/video/checkin/checkin.jpg" class="mainscreen__fullscreen_video")
          source(src="images/video/checkin/checkin.mp4" type="video/mp4")
          source(src="images/video/checkin/checkin.webm" type="video/webm")
      .checkin__wrap
        .container
          .checkin__inner
            .checkin__content
              .checkin__heading Создайте свой аккаунт на <a href="Hires.ru" target="_blank">Hires.ru</a> и&nbsp;получите полный доступ к&nbsp;безграничному контенту
            .checkin__form
              h2 Регистрация
              form.form
                .form__field
                  input(type="text" name="name" placeholder="Введите Ваше имя" required)
                .form__field
                  input(type="text" name="name" placeholder="Введите Ваш E-mail" required)
                .form__field
                  input(type="text" name="name" placeholder="Введите Ваш пароль" required)
                .form__button
                  button(type="submit") Зарегистрироваться
    .popular
      .container
        .popular__heading
          h2 Самые популярные категории
        .popular__wrap
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
