dist/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hires agency</title>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <style>
      .b-index {
        padding: 50px 10px;
      }
      
      .b-index__container {
        background-color: #fff;
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        padding: 110px 15px 30px;
        background-image: url(images/logo.svg);
        background-position: center top 25px;
        background-repeat: no-repeat;
        background-size: 170px;
      }
      
      @media (min-width: 768px) {
        .b-index__container {
          padding: 50px;
        }
      }
      
      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #fda2ba;
        list-style-position: inside;
      }
      
      li {
        margin-bottom: 7px;
      }
      
      a {
        font-size: 18px;
        color: #151515;
        border-bottom: 1px solid transparent;
        line-height: 1;
        transition: .2s;
        text-decoration: none;
      }
      
      a:hover {
        color: #151515;
        border-color: #8a8a8a;
        text-decoration: none;
      }
      
    </style>
    <div class="b-index">
      <div class="b-index__container">
        <ol>
          <li><a href="home.html">Главная страница</a></li>
          <li><a href="products.html">Продукция</a></li>
          <li><a href="profile.html">Профиль автора</a></li>
          <li><a href="cart.html">Корзина</a></li>
          <li><a href="account.html">Мой аккаунт</a></li>
          <li><a href="favorites.html">Избранное</a></li>
          <li><a href="news.html">Новости</a></li>
          <!--li-->
          <!--  a(href='lightbox.html') Лайт боксы-->
          <li><a href="messages.html">Сообщения</a></li>
          <li><a href="dialog.html">Сообщения - диалог</a></li>
          <li><a href="settings.html">Настройки</a></li>
        </ol>
      </div>
    </div>
  </body>
</html>

app/templates/index.pug
doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Hires agency

    link(rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
    link(rel="manifest" href="images/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    style.
      .b-index {
        padding: 50px 10px;
      }

      .b-index__container {
        background-color: #fff;
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        padding: 110px 15px 30px;
        background-image: url(images/logo.svg);
        background-position: center top 25px;
        background-repeat: no-repeat;
        background-size: 170px;
      }

      @media (min-width: 768px) {
        .b-index__container {
          padding: 50px;
        }
      }

      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #fda2ba;
        list-style-position: inside;
      }

      li {
        margin-bottom: 7px;
      }

      a {
        font-size: 18px;
        color: #151515;
        border-bottom: 1px solid transparent;
        line-height: 1;
        transition: .2s;
        text-decoration: none;
      }

      a:hover {
        color: #151515;
        border-color: #8a8a8a;
        text-decoration: none;
      }

    .b-index
      .b-index__container
        ol
          li
            a(href='home.html') Главная страница
          li
            a(href='products.html') Продукция
          li
            a(href='profile.html') Профиль автора
          li
            a(href='cart.html') Корзина
          li
            a(href='account.html') Мой аккаунт
          li
            a(href='favorites.html') Избранное
          li
            a(href='news.html') Новости
          //li
          //  a(href='lightbox.html') Лайт боксы
          li
            a(href='messages.html') Сообщения
          li
            a(href='dialog.html') Сообщения - диалог
          li
            a(href='settings.html') Настройки
