dist/products.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Продукция</title>
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="inner-page"><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__left">
            <div class="header__logo"><a class="header__logo_link" href="#"><img src="images/logo.png" alt="Hires agency POND5"></a></div>
            <div class="header__tel"><a class="header__tel_num" href="tel:+74957661789">+7 (495) 766-17-89</a></div>
            <div class="header__hidden">
              <form class="search">
                <input class="search__input" type="search" name="search" placeholder="Введите Ваш запрос"><a class="search__img" href="#"></a>
                <select class="search__select" name="search-select">
                  <option value="">По изображениям</option>
                  <option value="">По видео</option>
                  <option value="">По спецэффектам</option>
                  <option value="">По музыке</option>
                  <option value="">По автору</option>
                </select>
                <!--.search__select
                input(type="hidden" value="" name="search-selected")
                a.search__selected(href="#") Все изображения
                .search__dropdown
                  a.search__dropdown_item(href="#") По изображениям
                  a.search__dropdown_item(href="#") По видео
                  a.search__dropdown_item(href="#") По спецэффектам
                  a.search__dropdown_item(href="#") По музыке
                  a.search__dropdown_item(href="#") По автору
                -->
                <button class="search__btn" type="button"></button>
              </form>
              <div class="header__nav"><a class="header__nav_link" href="#" style="background-image: url(images/icons/video.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/visual.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/camera.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/music.png)"></a></div>
            </div>
          </div>
          <div class="header__right">
            <div class="header__right_wrap">
              <div class="header__lang">
                <div class="lang"><a class="lang__link -active" href="#">РУС</a><a class="lang__link" href="#">ENG</a></div>
              </div>
              <div class="header__login"><a class="header__login_link" href="#">Регистрация</a><a class="header__login_link" href="#">Войти</a></div>
              <div class="header__menu">
                <nav class="header__menu_dropdown">
                  <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="#">Предлагаемые планы подписки</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Пополнить баланс</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Наши контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div><a class="header__toggle" id="toggle-menu" href="#"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="product">
        <div class="container">
          <div class="product__wrap">
            <div class="product__header"><a class="back-page" href="#">Назад</a>
              <div class="product__title">
                <h2>Название файла</h2>
              </div>
            </div>
            <div class="product__content">
              <div class="product__preview">
                <div class="product__img"><img src="images/product/product.jpg" alt=""><span class="product__name">Название файла</span></div>
                <div class="product__links"><a class="product__link -share" href="#">Поделиться</a><a class="product__link -add" href="#">Добавить в коллекцию</a><a class="product__link -download" href="#">Скачать превью</a></div>
              </div>
              <div class="product__info">
                <div class="product__category">
                  <div class="product__category_label">Категория:</div>
                  <div class="product__category_value">Стоковое видео</div>
                </div>
                <ul class="product__quality">
                  <li class="product__quality_item">
                    <div class="product__quality_checkbox">
                      <div class="checkbox">
                        <label class="checkbox__label">
                          <input class="checkbox__input" type="radio" name="video-quality" value=""><span class="checkbox__text">5К+</span>
                        </label>
                      </div>
                    </div>
                    <div class="product__quality_price">$125</div>
                  </li>
                  <li class="product__quality_item">
                    <div class="product__quality_checkbox">
                      <div class="checkbox">
                        <label class="checkbox__label">
                          <input class="checkbox__input" type="radio" name="video-quality" value=""><span class="checkbox__text">HD (1080)</span>
                        </label>
                      </div>
                    </div>
                    <div class="product__quality_price">$75</div>
                  </li>
                  <li class="product__quality_item">
                    <div class="product__quality_checkbox">
                      <div class="checkbox">
                        <label class="checkbox__label">
                          <input class="checkbox__input" type="radio" name="video-quality" value=""><span class="checkbox__text">HD (720)</span>
                        </label>
                      </div>
                    </div>
                    <div class="product__quality_price">$35</div>
                  </li>
                </ul>
                <div class="product__add"><a class="product__add_btn" href="#"><span class="product__add_text">В корзину</span><span class="product__add_price">$125</span></a></div>
                <div class="product__license">Персональная лицензия включена</div><a class="product__more" href="#">Подробно о товаре</a>
              </div>
            </div>
            <div class="product__tags"><a href="#">Роза</a><a href="#">Розовый</a><a href="#">Цветы</a><a href="#">Подарок</a><a href="#">8 марта</a><a href="#">Шипы</a><a href="#">Букет</a><a href="#">Роза</a><a href="#">Розовый</a><a href="#">Цветы</a><a href="#">Подарок</a><a href="#">8 марта</a><a href="#">Шипы</a><a href="#">Букет</a><a href="#">Роза</a><a href="#">Розовый</a><a href="#">Цветы</a><a href="#">Подарок</a><a href="#">8 марта</a><a href="#">Шипы</a><a href="#">Букет</a></div>
            <div class="product__bottom">
              <div class="product__autor">
                <div class="product__autor_img"><img src="images/icons/autor.jpg" alt=""></div>
                <div class="product__autor_text"><strong>Автор:</strong> Белоснежная Екатерина (оператор)</div>
              </div>
              <div class="product__desc"><strong>Описание:</strong> Абстракционное незацикленное видео с интерполярным эффектом взаимодействия с природой</div><a class="product__resurs" href="#"><strong>Все ресурсы данного автора</strong></a>
            </div>
          </div>
        </div>
      </div>
      <div class="block-video -gray">
        <div class="container">
          <div class="block-video__header">
            <h2>Другие видео этого автора</h2>
          </div>
          <div class="block-video__wrap">
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
          </div>
        </div>
      </div>
      <div class="block-video">
        <div class="container">
          <div class="block-video__header">
            <h2>Похожие ресурсы</h2>
          </div>
          <div class="block-video__wrap">
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="block-video__item"><a class="block-video__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrap">
          <div class="footer__left">
            <div class="footer__logo"><a href="/"><img src="images/logo2.png" alt=""></a></div>
            <ul class="footer__info">
              <li class="footer__info_item"><span class="footer__address" style="background-image: url(images/icons/location-gray.png)">Москва, ул. Коасноперова, д.12</span></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__fb" href="https://facebook.com" style="background-image: url(images/icons/facebook-gray.png)">Facebook</a></li>
              <li class="footer__info_item"><a class="footer__inst" href="https://instagram.com" style="background-image: url(images/icons/instagram-gray.png)">Instagram</a></li>
            </ul>
          </div>
          <div class="footer__right">
            <div class="footer__menu">
              <div class="footer__menu_heading">Меню</div>
              <div class="footer__menu_wrap">
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copyright">© Hires and Pond5, Inc., 2019</div>
      </div>
    </footer>
  </body>
  <script src="scripts/jquery.js"></script>
  <script src="scripts/slick.js"></script>
  <script src="scripts/jquery.selectric.js"></script>
  <script src="scripts/main.js"></script>
</html>

app/templates/products.pug
extends layouts/default

block variables
  - var title = 'Продукция'
  - var innerPage = true

block content
  main.main
    .product
      .container
        .product__wrap
          .product__header
            a.back-page(href="#") Назад
            .product__title
              h2 Название файла
          .product__content
            .product__preview
              .product__img
                img(src="images/product/product.jpg" alt="")
                span.product__name Название файла
              .product__links
                a.product__link.-share(href="#") Поделиться
                a.product__link.-add(href="#") Добавить в коллекцию
                a.product__link.-download(href="#") Скачать превью
            .product__info
              .product__category
                .product__category_label Категория:
                .product__category_value Стоковое видео
              ul.product__quality
                li.product__quality_item
                  .product__quality_checkbox
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="radio" name="video-quality" value="")
                        span.checkbox__text 5К+
                  .product__quality_price $125
                li.product__quality_item
                  .product__quality_checkbox
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="radio" name="video-quality" value="")
                        span.checkbox__text HD (1080)
                  .product__quality_price $75
                li.product__quality_item
                  .product__quality_checkbox
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="radio" name="video-quality" value="")
                        span.checkbox__text HD (720)
                  .product__quality_price $35
              .product__add
                a.product__add_btn(href="#")
                  span.product__add_text В корзину
                  span.product__add_price $125
              .product__license Персональная лицензия включена
              a.product__more(href="#") Подробно о товаре
          .product__tags
            a(href="#") Роза
            a(href="#") Розовый
            a(href="#") Цветы
            a(href="#") Подарок
            a(href="#") 8 марта
            a(href="#") Шипы
            a(href="#") Букет
            a(href="#") Роза
            a(href="#") Розовый
            a(href="#") Цветы
            a(href="#") Подарок
            a(href="#") 8 марта
            a(href="#") Шипы
            a(href="#") Букет
            a(href="#") Роза
            a(href="#") Розовый
            a(href="#") Цветы
            a(href="#") Подарок
            a(href="#") 8 марта
            a(href="#") Шипы
            a(href="#") Букет
          .product__bottom
            .product__autor
              .product__autor_img
                img(src="images/icons/autor.jpg" alt="")
              .product__autor_text <strong>Автор:</strong> Белоснежная Екатерина (оператор)
            .product__desc <strong>Описание:</strong> Абстракционное незацикленное видео с интерполярным эффектом взаимодействия с природой
            a.product__resurs(href="#") <strong>Все ресурсы данного автора</strong>
    .block-video.-gray
      .container
        .block-video__header
          h2 Другие видео этого автора
        .block-video__wrap
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
    .block-video
      .container
        .block-video__header
          h2 Похожие ресурсы
        .block-video__wrap
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
