dist/profile.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Профиль автора</title>
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="inner-page"><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__left">
            <div class="header__logo"><a class="header__logo_link" href="#"><img src="images/logo.png" alt="Hires agency POND5"></a></div>
            <div class="header__tel"><a class="header__tel_num" href="tel:+74957661789">+7 (495) 766-17-89</a></div>
            <div class="header__hidden">
              <form class="search">
                <input class="search__input" type="search" name="search" placeholder="Введите Ваш запрос"><a class="search__img" href="#"></a>
                <select class="search__select" name="search-select">
                  <option value="">По изображениям</option>
                  <option value="">По видео</option>
                  <option value="">По спецэффектам</option>
                  <option value="">По музыке</option>
                  <option value="">По автору</option>
                </select>
                <!--.search__select
                input(type="hidden" value="" name="search-selected")
                a.search__selected(href="#") Все изображения
                .search__dropdown
                  a.search__dropdown_item(href="#") По изображениям
                  a.search__dropdown_item(href="#") По видео
                  a.search__dropdown_item(href="#") По спецэффектам
                  a.search__dropdown_item(href="#") По музыке
                  a.search__dropdown_item(href="#") По автору
                -->
                <button class="search__btn" type="button"></button>
              </form>
              <div class="header__nav"><a class="header__nav_link" href="#" style="background-image: url(images/icons/video.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/visual.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/camera.png)"></a><a class="header__nav_link" href="#" style="background-image: url(images/icons/music.png)"></a></div>
            </div>
          </div>
          <div class="header__right">
            <div class="header__right_wrap">
              <div class="header__lang">
                <div class="lang"><a class="lang__link -active" href="#">РУС</a><a class="lang__link" href="#">ENG</a></div>
              </div>
              <div class="header__login"><a class="header__login_link" href="#">Регистрация</a><a class="header__login_link" href="#">Войти</a></div>
              <div class="header__menu">
                <nav class="header__menu_dropdown">
                  <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="#">Предлагаемые планы подписки</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Пополнить баланс</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Наши контакты</a></li>
                  </ul>
                </nav>
              </div>
            </div><a class="header__toggle" id="toggle-menu" href="#"><span></span></a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="profile">
        <div class="container">
          <div class="profile__wrap">
            <div class="profile__photo"><img src="images/profile-img.jpg" alt=""></div>
            <div class="profile__info">
              <div class="profile__header">
                <div class="profile__condition">Онлайн</div>
                <div class="profile__name">Программист Кодеров</div>
                <div class="profile__status">Статус</div>
              </div>
              <div class="profile__main">
                <div class="profile__left">
                  <div class="profile__value">Город: Москва</div>
                  <div class="profile__value">Компания: Агенство Шоколад</div>
                  <div class="profile__value">Должность: Дизайнер</div>
                </div>
                <div class="profile__right"><a class="profile__share" href="#">Поделиться</a><a class="profile__subscribe" href="#">Подписаться</a></div>
              </div>
              <div class="profile__archive">
                <div class="profile__archive_item">
                  <div class="profile__archive_count">25</div>
                  <div class="profile__archive_value">фотографий</div>
                </div>
                <div class="profile__archive_item">
                  <div class="profile__archive_count">2</div>
                  <div class="profile__archive_value">видео</div>
                </div>
                <div class="profile__archive_item">
                  <div class="profile__archive_count">10</div>
                  <div class="profile__archive_value">спецэффектов</div>
                </div>
                <div class="profile__archive_item">
                  <div class="profile__archive_count">0</div>
                  <div class="profile__archive_value">музыкальных файлов</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="viewed">
        <div class="container">
          <div class="viewed__header">
            <h2>Вы интересовались</h2>
            <p>Тут отображенны все просмотренные Вами товары за последнее время</p>
          </div>
          <div class="viewed__slider">
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
            <div class="viewed__item"><a class="viewed__inner" href="#"><img src="images/block-video.jpg" alt=""></a></div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrap">
          <div class="footer__left">
            <div class="footer__logo"><a href="/"><img src="images/logo2.png" alt=""></a></div>
            <ul class="footer__info">
              <li class="footer__info_item"><span class="footer__address" style="background-image: url(images/icons/location-gray.png)">Москва, ул. Коасноперова, д.12</span></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__tel" href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)">+7 (999) 777-77-77</a></li>
              <li class="footer__info_item"><a class="footer__fb" href="https://facebook.com" style="background-image: url(images/icons/facebook-gray.png)">Facebook</a></li>
              <li class="footer__info_item"><a class="footer__inst" href="https://instagram.com" style="background-image: url(images/icons/instagram-gray.png)">Instagram</a></li>
            </ul>
          </div>
          <div class="footer__right">
            <div class="footer__menu">
              <div class="footer__menu_heading">Меню</div>
              <div class="footer__menu_wrap">
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="footer__menu_column">
                  <div class="footer__menu_title">Категория</div>
                  <ul class="footer__menu_list">
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                    <li class="footer__menu_item"><a class="footer__menu_link" href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copyright">© Hires and Pond5, Inc., 2019</div>
      </div>
    </footer>
  </body>
  <script src="scripts/jquery.js"></script>
  <script src="scripts/slick.js"></script>
  <script src="scripts/jquery.selectric.js"></script>
  <script src="scripts/main.js"></script>
</html>

app/templates/profile.pug
extends layouts/default

block variables
  - var title = 'Профиль автора'
  - var innerPage = true

block content
  main.main
    .profile
      .container
        .profile__wrap
          .profile__photo
            img(src="images/profile-img.jpg" alt="")
          .profile__info
            .profile__header
              .profile__condition Онлайн
              .profile__name Программист Кодеров
              .profile__status Статус
            .profile__main
              .profile__left
                .profile__value Город: Москва
                .profile__value Компания: Агенство Шоколад
                .profile__value Должность: Дизайнер
              .profile__right
                a.profile__share(href="#") Поделиться
                a.profile__subscribe(href="#") Подписаться
            .profile__archive
              .profile__archive_item
                .profile__archive_count 25
                .profile__archive_value фотографий
              .profile__archive_item
                .profile__archive_count 2
                .profile__archive_value видео
              .profile__archive_item
                .profile__archive_count 10
                .profile__archive_value спецэффектов
              .profile__archive_item
                .profile__archive_count 0
                .profile__archive_value музыкальных файлов
    .viewed
      .container
        .viewed__header
          h2 Вы интересовались
          p Тут отображенны все просмотренные Вами товары за последнее время
        .viewed__slider
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
